<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fan.crawler.base.dao.RawBidDAO">
    <resultMap id="BaseResultMap" type="com.fan.crawler.base.info.RawBidInfo">
        <result column="C_ID" property="id"/>
        <result column="C_PROJECT_NAME" property="projectName"/>
        <result column="C_NAME" property="name"/>
        <result column="C_URL" property="url"/>
    </resultMap>

    <parameterMap id="RawBidInfo" type="com.fan.crawler.base.info.RawBidInfo"/>

    <sql id="Base_Column_List">
        C_ID,C_PROJECT_NAME,C_NAME,C_URL
    </sql>

    <insert id="insert" parameterType="com.fan.crawler.base.info.RawBidInfo">
        insert into T_BID(
        <include refid="Base_Column_List"/>
        ) values(#{id},#{projectName}, #{name},#{url})
    </insert>

    <update id="update" parameterType="com.fan.crawler.base.info.RawBidInfo">
        update T_BID
        <set>
            <if test="name!= null">C_URL=#{name},</if>
            <if test="projectName!= null">C_PROJECT_NAME=#{projectName},</if>
            <if test="url!= null">C_URL=#{url},</if>
        </set>
        where C_ID=#{id}
    </update>

</mapper>